/**
① #代表id定位、
  .代表classname定位
  什么都没有，表示用标签定位
②如果是id就是用#开头，如下aa
如果是class那么，就是用.开头，如login-form-button
如果没有，就可以直接用对应的标签开头，如p
③小写字母开头代表是默认的，不可以设置背景颜色，大写的是AntD封了一层的，有样式的
④JS与css关联的方法是在js里面导入，格式：import './Test.css'
 */

#aa{
  width: 300px;
  background-color: antiquewhite;
}
.login-form-button{

}

p{
  background-color: blue;
}


